apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
    - name: kube-vip
      agent: docker
      image: ghcr.io/kube-vip/kube-vip:v0.5.0  # we should pin the version
      args:
        - vip
        - arp
        - address={{ control_vip }}
        - interface={{ interface }}
        - controlplane
        - services
        - enableLeaderElection
        - leaderElectionNamespace=kube-system
        - leaderElectionConfigMap=kube-vip
      securityContext:
        privileged: true
        capabilities:
          add: ["NET_ADMIN", "NET_RAW", "SYS_TIME"]